<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBF8gOL9EpkWaq_4F77hj5ZhAi2WjWEZeE</string>
	<key>GCM_SENDER_ID</key>
	<string>567486310574</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.greenboom</string>
	<key>PROJECT_ID</key>
	<string>greenboom-55eb3</string>
	<key>STORAGE_BUCKET</key>
	<string>greenboom-55eb3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:567486310574:ios:071a4f506fd1e17098653f</string>
</dict>
</plist>